body {
  font-family: 'Open sans', Verdana;
  background-color: #FFFFFF; 
  padding-top: 155px;
  background-image: url(../images/Header_background.png);
  background-repeat: repeat-x; 
  min-width: 320px;
  overflow-y: scroll;
}

.ul-garrow>li {
  list-style-image: url("../images/SideNav_arrow.png");
}

.ul-yarrow>li {
  list-style-image: url("../images/Yellow_ArrowBullet.png");
  margin: 5px;
}

/* Navigation
------------------------ */

.navbar {
  border-bottom: none;
  margin-bottom: 0;
  padding: 20px 15px; 
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

nav .container-fluid {
  width: 1170px;
  max-width: 100%;
}

.navbar-toggle {
  margin: 3%;
}

.nav>li>a {
  padding: 0px;
}

li>small {
  color:#fdb900;
  
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  background-color: rgba(0,0,0,0);
}

ul.dropdown-menu {
  background-color: #3a3a3a;
}

.dropdown-menu>li>a {
  color: #bfbfbf;
}

.cbp-af-header-shrink {
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-fixed-top.scrolled {
  background-color: #222 !important;
  transition: background-color 200ms linear;
}


@media (max-width: 767px) {
  .navbar-header {
    position: relative;
  }
  .navbar img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 60%;
    max-height: 90%;
  }
  .nav>li {
    padding: 5px;
  }

  .nav>li a {
    margin-right: 10px;
  }
  
}

@media (min-width: 768px) and (max-width: 1202px) {
  .navbar-header {
    position: relative;
    width: 30%;
  }
  .navbar img {
    max-width: 90%;
  }
  
  .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: rgba(0,0,0,0);
  }
  ul.nav {
    margin: 2% 0;
    width: 70%; 
    display: flex;
    justify-content: space-around;
  }
  
}
  
@media (min-width: 1203px) {
  div ul.nav {
    background-image: url(../images/Menu_dividers.png);
    background-repeat: no-repeat;
    width: 682px;
    max-width: 100%;
  }
  .navbar img {
    padding-right: 15px;
  }
  .nav>li {
    padding: 20px 23.35px;
  }

  li.dropdown {
    padding-left: 17px;
    padding-right: 17px;
  }

  body {
  padding-top: 135px;
  background-image: url(../images/Header_background.png);
  background-repeat: repeat-x; 
}
  .navbar {
    background-color: rgba(0,0,0,0);
  }
  .navbar-collapse {
  background-color: rgba(0,0,0,0);
  }
}

/* Sidenav
------------------------ */

.sidenav {
  background-image: url("../images/SideNav_lines.png");
  background-repeat: no-repeat;
  height: 125px; 
/*  margin-left: 15px;*/
  padding-left: 11px;
}

.sidenav li {
  padding: 5px 0;
}

/* Main
------------------------ */


.call-to-action {
  background-color: #FAFAFA;
  box-shadow: 2px 5px 20px #222;
  border-right: 1px solid #777777;
  border-bottom: 1px solid #777777;
  color: #565656;
  padding: 10px;
  margin-top: 100px;
  
}
.call-to-action h4 {
  font-weight: 600;
}

.call-to-action hr, .body-content hr {
  margin-top: 10px; 
  margin-bottom: 10px; 
  border-top: 1px solid #565656; 
}

.body-content {
  padding: 0 15px;
  max-width: inherit;
}

div.body-content section {
  background-image: url(../images/White_Background.png);
  background-repeat: no-repeat;
  background-size: contain; 
  width: 725px;
  max-width: 100%;
  padding: 20px;
}

.body-content h4 {
  margin-top: 3.5%;
  margin-bottom: 2%;
}

@media (max-width: 991px) {
  
  body { 
    padding-top: 70px;
  }
  
  .call-to-action {
    max-width: 90%;
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1202px) {
  
  .call-to-action {
    padding-top: 10px;
    margin-bottom: 20px;
    margin-top: 80px;
  }
  
}


/* Footer 
------------------------ */

footer { 
  background-image: url("../images/Footer_background.png");
  background-repeat: repeat-x;
  background-position: bottom;
  color:#868686;
  padding-top: 15px;
}

footer ul {
  margin: 5px;
}

footer li {
  color:#959595;
}

.footer-well {
  background-image: url("../images/Address_cube.png");
  width: 231px;
  height: 125px;
  margin: 5px;
}

.addressTitle{
    color:#fdb900;
    font-size:11px;
    padding-top:8px;
    padding-left:10px;
}

.addressText{
    color:#959595;
    font-size:12px;
}

footer hr {
  border: 1px solid #868686;
}

.footerCopyrightText {
  font-size: 12px;
  padding-bottom: 5px;
  width: 1170px;
  max-width: 100%;
}


@media (max-width: 767px) {
  footer {
    margin-top: 20px; 
    background: #222222; 
    background: -webkit-linear-gradient(#222222, #646464);
  }
}

@media (min-width: 768px) and (max-width: 1202px) {
  footer {
    margin-top: 60px;
  }
}

@media (min-width: 1203px) {
  footer {
    margin-top: 125px; 
  }
  footer div.row {
    width: 1170px;
    max-width: 100%;
  }
}


/* Links
------------------------ */

a {
  color: #bfbfbf; 
}

a:link {
  color: #bfbfbf; 
  text-decoration: none;
}

a.btn:link {
  background-color: #fdb900;
  color: #3a3a3a;
  font-weight: 600;
}

a.directoryLink:link {
  color: #565656;
  margin-top: 5px;
}

a.yellowLink:link {
  color:#fdb900;
  text-decoration: underline;
}




a:visted {
  color:#fdb900;
  text-decoration: none;
}

a.btn:visted {
  color: #3a3a3a;
}



a:hover {
  color: #fdb900;
  text-decoration: none;
}

a.btn:hover {
  background-color: #3a3a3a;
  color: #fdb900;
  font-weight: 600;
}

a.directoryLink:hover {
    color: #fdb900;
}



a:active {
  color:White;
}

a.btn:active {
  background-color: #e6e6e6;
  color: #3a3a3a;
}









