
/* Main
------------------------ */

.btn {
  background-color: #fdb900;
  color: #3a3a3a;
  font-weight: 600;
  margin: 20px;
}

figure {
  background-color: #F6F4F4;;
  display: flex;
  flex-flow: column wrap;
}

figcaption {
  background-color: #3a3a3a;
  color: #C0C0C0;
  padding: 10px;
}

section.well {
  background-color: #F6F4F4;
  border: 1px solid #C0C0C0;
  margin-top: 20px;

}
article.well {
  background-color: #FFFFFF;
  border: 1px solid #C0C0C0;
  box-sizing: border-box; 
  flex-basis: 31%;
  padding: 8px;
  margin-bottom: 10px;

}

.titleContent {
    color: #3a3a3a;
    font-weight:bold;
}

.bodyContent {
    color: #666666;
}

@media (min-width: 700px) {
  section.well {
  display: flex;
  justify-content: space-around;
  }
}

@media (max-width: 991px) {
  
  body { 
    padding-top: 70px;
  }
  
  .call-to-action {
    max-width: 75%;
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 50px;
  }
  .call-to-action .btn{
    transform: rotate(90deg);
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  
    .call-to-action {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 80px;
    margin-bottom: 20px;
    padding-top: 10px;
  }

  .call-to-action p {
    order: 2;
    flex: 1;
  }
}


@media (min-width: 1202px) {
  
  .call-to-action {
    margin-top: 95px;
  }
  
}




