
}
.call-to-action h4 {
  font-weight: 600;
}

.call-to-action hr, .body-content hr {
  margin-top: 10px; 
  margin-bottom: 10px; 
  border-top: 1px solid #565656; 
}

.body-content h4 {
  margin-top: 3.5%;
  margin-bottom: 2%;
}
.body-content .note {
  color: red;
}

.btn {
  background-color: #fdb900;
  color: #3a3a3a;
  font-weight: 600;
  margin: 20px;
}

.btn:hover {
  background-color: #3a3a3a;
  color: #fdb900;
  font-weight: 600;
}

.btn:active {
  color: #3a3a3a;
}
  

@media (max-width: 991px) {
  
  body { 
    padding-top: 70px;
  }
  
  .call-to-action {
    max-width: 90%;
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 50px;
  }
}
