
.body-content h4 {
  margin-top: 3.5%;
  margin-bottom: 2%;
}

.body-content strong {
  color: #FAB932;
  padding-top: 15px;
  padding-bottom: 5px;
  
}

.embed-responsive iframe {
  border: 10px solid #565656;
}

@media (max-width: 991px) {
  
  body { 
    padding-top: 70px;
  }
  
  .call-to-action {
    max-width: 90%;
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 50px;
  }
}
  


  