

.body-content h4 {
  margin-top: 3.5%;
  margin-bottom: 2%;
}
.body-content strong {
  padding-top: 15px;
  padding-bottom: 5px;
}

a.directoryLink:link {
  color: #565656;
  margin-top: 5px;
}

a.directoryLink:hover {
    color: #fdb900;
    
}

.body-content section>div {
  display: flex;
  margin-bottom: 15px;
  
}
.body-content ul, .body-content li {
  list-style: none;
  padding-left: 10px;
  margin-bottom: 10px;
}

.body-content ul {
  padding-top: 10px;
}

@media (max-width: 991px) {
  
  body { 
    padding-top: 70px;
  }
  
  .call-to-action {
    max-width: 90%;
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 50px;
  }
}
  
  
  
  
  
  
  
  